body {
  font-family: "Poppins", sans-serif;
  background: #06004a;
  background: linear-gradient(
    90deg,
    rgba(6, 0, 74, 1) 0%,
    rgba(0, 78, 181, 1) 50%,
    rgba(129, 20, 184, 1) 100%
  );
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 60rem;
}

.container .title {
  color: #1d3a97;
  font-size: 2.5rem;
}

.container .title::after {
  content: " 📝";
}

.container .task-form {
  position: relative;
}

.container .task-form .task-input {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  background-color: #e7e7e7;
  border: 0.2rem solid #e7e7e7;
  border-radius: 3rem;
  outline: none;
  width: 100%;
  padding: 2rem 1.5rem;
  transition: border-color 0.3s ease;
}

.container .task-form .task-input:focus {
  border-color: #ff4500;
}

.container .task-form .task-input::placeholder {
  font-size: 1.4rem;
}

.container .task-form .btn-add {
  position: absolute;
  right: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ff4500;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  height: 100%;
  border: none;
  padding: 2rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.container .task-form .btn-add:hover {
  background-color: #ca3600;
}

.container .error {
  display: none;
  color: #ff0000;
  font-size: 1.4rem;
}

.container .task-list {
  max-height: 30rem;
  overflow-y: auto;
  padding-right: 3rem;
}

.container .task-list::-webkit-scrollbar {
  width: 0.6rem;
}

.container .task-list::-webkit-scrollbar-thumb {
  background-color: #ff4500;
  border-radius: 0.3rem;
}

.container .task-list .task-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.container .task-list .task-item .custom-checkbox {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  flex: 1;
  min-width: 0;
  font-size: 1.6rem;
  cursor: pointer;
}

.container .task-list .task-item .custom-checkbox input[type="checkbox"] {
  display: none;
}

.container .task-list .task-item .custom-checkbox .checkmark {
  width: 3rem;
  height: 3rem;
  border: 0.2rem solid #ccc;
  border-radius: 100%;
  position: relative;
  transition: background-color 0.2s ease;
}

.container
  .task-list
  .task-item
  .custom-checkbox
  input[type="checkbox"]:checked
  + .checkmark {
  background-color: #ff4500;
  border-color: #ff4500;
}

.container
  .task-list
  .task-item
  .custom-checkbox
  input[type="checkbox"]:checked
  + .checkmark::after {
  content: "";
  position: absolute;
  left: 0.9rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 1.2rem;
  border: solid #ffffff;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

.container .task-list .task-item .custom-checkbox .task-text {
  position: relative;
  color: #444444;
  max-width: 80%;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container
  .task-list
  .task-item
  .custom-checkbox
  input[type="checkbox"]:checked
  ~ .task-text {
  color: #888;
}

.container .task-list .task-item .custom-checkbox .task-text::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  height: 0.2rem;
  width: 0%;
  background-color: #ff4500;
  transition: width 0.3s ease;
}

.container
  .task-list
  .task-item
  .custom-checkbox
  input[type="checkbox"]:checked
  ~ .task-text::after {
  width: 100%;
}

.container .task-list .task-item .x-icon {
  position: absolute;
  right: 0;
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  border: none;
  cursor: pointer;
}

.container .task-list .task-item .x-icon::before,
.container .task-list .task-item .x-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.2rem;
  height: 2rem;
  background-color: #888787;
  transform-origin: center;
  transition: background-color 0.3s ease;
}

.container .task-list .task-item .x-icon:hover::before,
.container .task-list .task-item .x-icon:hover::after {
  background-color: #ff4500;
}

.container .task-list .task-item .x-icon::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.container .task-list .task-item .x-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
